@model CuaHangBanLapTop.Models.Khuyenmai

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Khuyenmai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.LabelFor(model => model.IdsanPam)
                @Html.DropDownList("IdsanPam", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdsanPam, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdphuKien)
                @Html.DropDownList("IdphuKien", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdphuKien, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TenSP)
                @Html.DropDownList("TenSP", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="AnhMauSP" class="control-label"></label>
                <input type="file" name="file" multiple accept="image/jpg , image/jpeg, image/png" />
                <span asp-validation-for="AnhMauSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GiaBan)
                @Html.DropDownList("GiaBan", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="GiaKhuyenMai" class="control-label"></label>
                <input asp-for="GiaKhuyenMai" class="form-control" />
                <span asp-validation-for="GiaKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDauKhuenMai" class="control-label"></label>
                <input asp-for="NgayBatDauKhuenMai" class="form-control" />
                <span asp-validation-for="NgayBatDauKhuenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThucKhuyenMai" class="control-label"></label>
                <input asp-for="NgayKetThucKhuyenMai" class="form-control" />
                <span asp-validation-for="NgayKetThucKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
