@model CuaHangBanLapTop.Models.Hoadon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdkhachHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdkhachHangNavigation.HoVaTen)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnhanVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnhanVienNavigation.HoVaTen)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtinhTrangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtinhTrangNavigation.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
