@model CuaHangBanLapTop.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.XacNhanMatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.XacNhanMatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
